<div class="container" id="container1">
    <div class="row mb-2">
        <h1 class="col-10">LISTA: {{ mode }}</h1>
        <button *ngIf='mode !== "informe de motivos" ' class="btn btn-primary col-2" (click)="getAllreasonStock()">
            Informe
        </button>
        <button *ngIf='mode !== "ARTICULOS" ' class="btn btn-primary col-2" (click)="getAllAricles()">
            Listado de articulos
        </button>
    </div>
    <div class="center-content" *ngIf="alertMessage !== ''">
        <ngb-alert [type]="alertConfig.type" [dismissible]="alertConfig.dismissible" (close)="alertMessage=''">
            {{alertMessage}}
        </ngb-alert>
    </div>
    <div *ngIf='mode !== "ARTICULOS"' class="dateDownload">
        <form action="" [formGroup]="dateSearch" (ngSubmit)="getAllreasonStock()">
            <label for="date1">Desde: </label>
            <input type="date" value="date1" formControlName='date1'>
            <label class="mr-5" for="date2">Hasta: </label>
            <input type="date" value="date2" formControlName='date2'>
            <input type="submit" value="Buscar por fecha">
        </form>

        <button class="centre btn mc btn-primary" (click)="exportAsExcelFile()">Exportar Excel</button>

    </div>


    <input *ngIf='mode === "ARTICULOS"  ' type="text" class="form-control mb-2 search" placeholder="Buscar Articulo"
        #txtSearch (keyup)="onSearchArticle( txtSearch.value )" />
    <div *ngIf='loading == true' class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
    <div *ngIf='loading == false'>


        <table class="table" id="table1">
            <thead>
                <tr>
                    <th *ngIf='mode !== "ARTICULOS" '>Fecha</th>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Motivos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allArticles | filterArticle:page:filterArticle" [ngStyle]="{ 'height': '70px'}">
                    <td *ngIf='mode !== "ARTICULOS"  '>
                        {{item.creationDate.substring(0,10)}}</td>
                    <td>{{item.idArticulo}}</td>
                    <td>{{item.arNombre}}</td>
                    <td>{{item.arDescripcion}}</td>
                    <!-- <td><button class="btn btn-lg btn-outline-primary" (click)="open(mymodal, item)">...</button></td> -->
                    <td *ngIf='mode !== "ARTICULOS"'>
                        {{item.reason}}</td>
                    <td *ngIf='mode !== "ARTICULOS" '><button class="btn btn-lg btn-danger"
                            (click)="delete(item)">Eliminar</button></td>

                    <td *ngIf='mode == "ARTICULOS"'>
                        <form [formGroup]="reasonForm" (ngSubmit)="addreason(item)" autocomplete="off" [ngStyle]="{'display': 'flex',
                        'justify-content': 'space-between'}">
                            <label class="radio-inline">
                                <input formControlName='Motivos' type="radio" name="Motivos" value="sin stock" required>
                                Sin Stock</label>
                            <label class="radio-inline">
                                <input formControlName='Motivos' type="radio" name="Motivos" value="Figura pero no está"
                                    required>
                                Figura pero no está
                            </label>
                            <button [disabled]="!reasonForm.valid" type="submit"
                                class="btn btn-success">Guardar</button>

                        </form>
                    </td>

                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="prevPage()">
            Anteriores
        </button>
        &nbsp;
        <button class="btn btn-primary" (click)="nextPage()"
            [disabled]="(allArticles | filterArticle:page:filterArticle).length === 0">
            Siguientes
        </button>
        &nbsp;
        <p>{{page / 10 }} / {{ pageArticles }}</p>
        <!-- &nbsp;
        <button class="btn btn-primary" (click)="getAllreasonStock('Figura pero no está')">
            Figura pero no está
        </button> -->
    </div>
</div>
<!-- <ng-template #mymodal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <tr *ngFor="let item of modal">
                <td>{{item.idArticulo}}</td>
                <td>{{item.arNombre}}</td>
                <td>{{item.arDescripcion}}</td>
            </tr>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>
    </ng-template> -->
<!-- <div class="container">
    <h2 *ngIf='loading == false'>Movimientos: </h2>

    <div class="row" *ngIf='loading == false'>
        <input type="text" class="form-control mb-2 search" placeholder="Buscar Articulo" #txtSearchreason
            (keyup)="onSearchreason( txtSearchreason.value )" />
    </div>

    <div *ngIf='loading == false'>
        <button class="btn btn-primary" (click)="prevPagereason()">
            Anteriores
        </button>
        &nbsp;
        <button class="btn btn-primary" (click)="nextPagereason()"
            [disabled]="(allreason | filterreason:pagereason:filterreason).length === 0">
            Siguientes
        </button>
        &nbsp;
        <button class="btn btn-primary" (click)="getAllreason()">
            Actualizar
        </button>


        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Moviemiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of allreason | filterreason:pagereason:filterreason"
                    [ngStyle]="{ 'height': '70px'}">
                    <td>{{item.creationDate}}</td>
                    <td>{{item.idArticle}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.reason}}</td>
                    <td><button class="btn btn-lg btn-outline-primary" (click)="delete(item)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->